In [13]:
# Import necessary packages and modules
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
# Gather data
df = pd.read_csv('data_participant.csv')

/var/folders/7f/0g18sbf15hl1_1g6wq0hy5rr0000gn/T/ipykernel_81497/4206194754.py:2: DtypeWarning: Columns (1270,1271,1272) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_participant.csv')

In [3]:
# Eliminate columns that should not be used as predictors
df_cleaned = df.drop(columns=['year', 'month', 'day', 'hour', 'start_time', 'latitude', 'longitude', 'event'])

In [4]:
# Eliminate rows that should not be used as predictors as they are missing values (NaN)
df_cleaned = df_cleaned.dropna()

In [5]:
# Isolate inputs
X = df_cleaned.drop(columns=['y_thunderstorm', 'y_hail', 'y_severe'])
y1 = df_cleaned['y_thunderstorm']
y2 = df_cleaned['y_hail']
y3 = df_cleaned['y_severe']

In [6]:
# Train models y_thunderstorm, y_hail, y_severe
model1 = DecisionTreeClassifier()
X_train, X_test, y1_train, y1_test = train_test_split(X.drop(columns=['ID']), y1.astype(int), test_size=0.2)
model1.fit(X_train, y1_train)

# predictions1 = model1.predict(X_test)
# score1 = accuracy_score(y1_test, predictions1)
# score1

model2 = DecisionTreeClassifier()
X_train, X_test, y2_train, y2_test = train_test_split(X.drop(columns=['ID']), y2.astype(int), test_size=0.2)
model2.fit(X_train, y2_train)

# predictions2 = model2.predict(X_test)
# score2 = accuracy_score(y2_test, predictions2)
# score2

model3 = DecisionTreeClassifier()
X_train, X_test, y3_train, y3_test = train_test_split(X.drop(columns=['ID']), y3.astype(int), test_size=0.2)
model3.fit(X_train, y3_train)

# predictions3 = model3.predict(X_test)
# score3 = accuracy_score(y3_test, predictions3)
# score3

DecisionTreeClassifier()

In [7]:
# Filter data to keep only keep the rows where y_thunderstorm, y_hail, y_severe are NaN
mask = df['y_thunderstorm'].isna() & df['y_hail'].isna() & df['y_severe'].isna()
df_predict = df[mask]

In [8]:
# Predict missing values of y_thunderstorm, y_hail, y_severe
y1_predict = model1.predict(df_predict.drop(columns=['ID', 'year', 'month', 'day', 'hour', 'start_time', 'latitude', 'longitude', 'event', 'y_thunderstorm', 'y_hail', 'y_severe'])).astype(bool)
y2_predict = model2.predict(df_predict.drop(columns=['ID', 'year', 'month', 'day', 'hour', 'start_time', 'latitude', 'longitude', 'event', 'y_thunderstorm', 'y_hail', 'y_severe'])).astype(bool)
y3_predict = model3.predict(df_predict.drop(columns=['ID', 'year', 'month', 'day', 'hour', 'start_time', 'latitude', 'longitude', 'event', 'y_thunderstorm', 'y_hail', 'y_severe'])).astype(bool)

In [9]:
df_predict['y_thunderstorm'] = y1_predict
df_predict['y_hail'] = y2_predict
df_predict['y_severe'] = y3_predict

/var/folders/7f/0g18sbf15hl1_1g6wq0hy5rr0000gn/T/ipykernel_81497/3474008830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_predict['y_thunderstorm'] = y1_predict
/var/folders/7f/0g18sbf15hl1_1g6wq0hy5rr0000gn/T/ipykernel_81497/3474008830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_predict['y_hail'] = y2_predict
/var/folders/7f/0g18sbf15hl1_1g6wq0hy5rr0000gn/T/ipykernel_81497/3474008830.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_predict['y_severe'] = y3_predict

In [10]:
df_predict

,ID,year,month,day,hour,start_time,latitude,longitude,event,r_300.t-6,...,LD.t-2,LD.t-1,LD.t+0,LD.t+1,LD.t+2,LD.t+3,hail_size,y_thunderstorm,y_hail,y_severe
9062,3542,2022,7,1,20,7/1/2022 20:00,47.72600,-68.608086,NaN,45.644350,...,0.000000,0.000000,0.000000,0.000004,0.000000,0.000000,0.0,False,False,False
9063,3543,2022,7,2,9,7/2/2022 9:00,59.97600,-97.358574,NaN,97.149980,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
9064,3544,2022,7,4,2,7/4/2022 2:00,53.72600,-105.858720,NaN,38.367930,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
9065,3545,2022,7,4,9,7/4/2022 9:00,45.47600,-93.108505,NaN,38.458720,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000815,0.0,False,False,False
9066,3546,2022,7,5,3,7/5/2022 3:00,52.72600,-120.358960,NaN,102.628690,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9542,2022,6,30,1,6/30/2022 1:25,51.79841,-100.486810,2733.0,87.580380,...,2.484526,2.484526,2.484526,2.484526,2.484526,2.484526,21.0,True,True,True
9996,9543,2022,6,30,2,6/30/2022 2:20,51.89355,-99.637400,2733.0,86.444176,...,2.009431,2.009431,2.009431,2.009431,2.009431,2.009431,21.0,True,True,True
9997,9544,2022,6,30,2,6/30/2022 2:17,51.64718,-99.924870,2733.0,74.155975,...,1.972132,1.972132,1.972132,1.972132,1.972132,1.972132,21.0,True,True,True
9998,9545,2022,6,30,18,6/30/2022 18:55,55.74510,-97.850920,2734.0,15.329826,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.0,False,True,False
9999,9546,2022,6,24,4,6/24/2022 4:14,50.68439,-102.474190,2735.0,33.908690,...,2.120244,2.120244,2.120244,2.120244,2.120244,2.120244,26.5,True,True,True

In [11]:
df_remaining = df[~mask]
pd.concat([df_predict, df[~mask]], ignore_index=True)

,ID,year,month,day,hour,start_time,latitude,longitude,event,r_300.t-6,...,LD.t-2,LD.t-1,LD.t+0,LD.t+1,LD.t+2,LD.t+3,hail_size,y_thunderstorm,y_hail,y_severe
0,3542,2022,7,1,20,7/1/2022 20:00,47.72600,-68.608086,NaN,45.644350,...,0.000000,0.000000,0.000000,0.000004,0.000000,0.000000,0.0,False,False,False
1,3543,2022,7,2,9,7/2/2022 9:00,59.97600,-97.358574,NaN,97.149980,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
2,3544,2022,7,4,2,7/4/2022 2:00,53.72600,-105.858720,NaN,38.367930,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
3,3545,2022,7,4,9,7/4/2022 9:00,45.47600,-93.108505,NaN,38.458720,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000815,0.0,False,False,False
4,3546,2022,7,5,3,7/5/2022 3:00,52.72600,-120.358960,NaN,102.628690,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9258,2021,9,1,6,9/1/2021 6:18,50.44390,-104.704730,2608.0,107.149630,...,0.110198,0.110198,0.110198,0.110198,0.110198,0.110198,21.0,True,True,True
9996,9259,2021,9,1,14,9/1/2021 14:27,50.49212,-104.268780,2609.0,104.963100,...,0.054003,0.054003,0.054003,0.054003,0.054003,0.054003,18.0,True,True,False
9997,9260,2021,9,7,21,9/7/2021 21:17,44.05174,-80.927280,2610.0,54.777977,...,2.352723,2.352723,2.352723,2.352723,2.352723,2.352723,28.0,True,True,True
9998,9261,2021,9,14,21,9/14/2021 21:45,44.62960,-81.265080,2611.0,82.439920,...,0.459398,0.459398,0.459398,0.459398,0.459398,0.459398,40.0,True,True,True
9999,9262,2021,9,14,21,9/14/2021 21:45,45.41168,-80.085480,2611.0,110.560196,...,0.393605,0.393605,0.393605,0.393605,0.393605,0.393605,40.0,True,True,True

In [12]:
df.to_csv('output.csv', index=False)